player-connection-mode=Listen
player-connection-guid=3402606804
player-connection-debug=0
player-connection-project-name=PhotonGame
player-connection-ip=192.168.0.3
player-connection-ip=26.39.76.194
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
